<form [formGroup]="form">
  <div class="field grid">
    <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0">Dia</label>
    <div class="col-12 md:col-10">
      <p-inputSwitch formControlName="customizar_dias" (onChange)="updateStatusDias($event)"></p-inputSwitch>
      Não
    </div>
  </div>
  <div class="field grid">
    <label for="lastname4" class="col-12 mb-2 md:col-2 md:mb-0">Horário</label>
    <div class="col-12 md:col-10">
      <p-inputSwitch formControlName="customizar_horario" (onChange)="updateStatusHorario($event)"></p-inputSwitch>
      Não
    </div>
  </div>
</form>

<app-dias-de-treino></app-dias-de-treino>
<app-horarios-de-treino></app-horarios-de-treino>
