<form [formGroup]="service.formulario">
    <p-selectButton
      [options]="week"
      formControlName="agendaForm"
      [multiple]="true"
      optionValue="label"
      (onOptionClick)="service.setDays($event)"
    ></p-selectButton>
  <!-- <ng-container
    *ngFor="let day of service.showChosenDays.controls; let index = index"
  >
    <div [formGroupName]="index">
      <p-button formArrayName="name">{{ day.get("name")?.value }}</p-button>
    </div>
  </ng-container> -->
  <button (click)="checkDays()">CHECK DAYS</button>
  <div>{{ service.showChosenDays.value | json }}</div>
</form>
