<form [formGroup]="service.formulario">
    <p-selectButton
      [options]="week"
      formControlName="agendaForm"
      [multiple]="true"
      optionValue="label"
      (onOptionClick)="service.setDays($event)"
    ></p-selectButton>
    <div formArrayName="days">
      <ng-container
      *ngFor="let day of service.days.controls; let index = index"
    >
      <div [formGroupName]="index">
        <p>{{ day.get("name")?.value }}</p>
      </div>
    </ng-container>
    </div>
  <button (click)="checkDays()">CHECK DAYS</button>
  <div>{{ service.days.value | json }}</div>
</form>
